# Dependencies
node_modules/

# Build output
dist/
release/
out/

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Electron builder
*.dmg
*.blockmap
*.AppImage
*.exe
*.msi
